<form class="registration-form" action="/" method="POST">
    <div class="text-center mb-4">
        <i class="far fa-user-circle" id="user-icon"></i>
        <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
        <p>Tell us a little about yourself.</p>
    </div>
    <div class="form-label-group">
        <input id="inputGivenName" name="inputGivenName" class="form-control" placeholder="Given Name" required="" autofocus="">
        <label for="inputGivenName">Given Name</label>
    </div>
    <div class="form-label-group">
        <input id="inputFamilyName" name="inputFamilyName" class="form-control" placeholder="Family Name" required="" autofocus="">
        <label for="inputFamilyName">Family Name</label>
    </div>
    <div class="form-label-group">
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputEmail">Email address</label>
    </div>
    <div class="form-label-group">
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required="">
        <label for="inputPassword">Password</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
</form>