<div class="registration-form">
    <div class="text-center mb-4">
        <i class="far fa-user-circle" id="user-icon"></i>
        <h1 class="h3 mb-3 font-weight-normal">Nice to meet you</h1>
        <p>An email has been sent to {{email}} to activate your account.</p>
    </div>
</div>