<div class="text-center mb-4">
    <i class="far fa-user-circle" id="user-icon"></i>
    <h2 class="h2 mb-3 font-weight-normal okta-form-title o-form-head">Please form an orderly queue</h2>
    <p>We have a lot of people trying to register right now.</p>
</div>
<div class="auth-content">
<a href="/"><button class="btn btn-lg btn-primary btn-block" type="submit">Try again</button></a>

</div>